<html>

<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <style type="text/css">

        .c1 {
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 11pt;
            font-family: "Arial";
            font-style: normal
        }

        .c0 {
            color: #000000;
            font-weight: 700;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 11pt;
            font-family: "Arial";
            font-style: normal
        }

        .c18 {
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 10pt;
            font-family: "Times New Roman";
            font-style: normal
        }

        .c9 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.1500000000000001;
            orphans: 2;
            widows: 2;
            text-align: left;
            height: 11pt
        }

        .c2 {
            color: #000000;
            font-weight: 700;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 11pt;
            font-family: "Arial";
            font-style: italic
        }

        .c10 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.0699977272727272;
            orphans: 2;
            widows: 2;
            text-align: center
        }

        .c3 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.0699977272727272;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .c4 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.0699977272727272;
            orphans: 2;
            widows: 2;
            text-align: justify
        }

        .c20 {
            padding-top: 0pt;
            padding-bottom: 1pt;
            line-height: 1.0699977272727272;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .c14 {
            color: #000000;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 16pt;
            font-family: "Arial";
            font-style: normal
        }

        .c13 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.1500000000000001;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .c8 {
            padding: 0;
            margin: 0
        }

        .c11 {
            max-width: 468pt;
        }

        .c19 {
            margin-left: 37pt;
            margin-right: 54pt
        }

        .c15 {
            margin-left: 36pt;
            padding-left: 0pt
        }

        .c6 {
            background-color: #ffffff
        }

        .c7 {
            font-weight: 700
        }

        .c17 {
            font-size: 11pt
        }

        .c12 {
            font-style: italic
        }

        .c5 {
            margin-right: -7pt
        }

        .c21 {
            margin-right: -11pt
        }

        .c16 {
            height: 11pt
        }

        .title {
            padding-top: 0pt;
            color: #000000;
            font-size: 26pt;
            padding-bottom: 3pt;
            font-family: "Arial";
            line-height: 1.1500000000000001;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .subtitle {
            padding-top: 0pt;
            color: #666666;
            font-size: 15pt;
            padding-bottom: 16pt;
            font-family: "Arial";
            line-height: 1.1500000000000001;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        li {
            color: #000000;
            font-size: 11pt;
            font-family: "Arial"
        }

        p {
            margin: 0;
            color: #000000;
            font-size: 11pt;
            font-family: "Arial"
        }

        h1 {
            padding-top: 20pt;
            color: #000000;
            font-size: 20pt;
            padding-bottom: 6pt;
            font-family: "Arial";
            line-height: 1.1500000000000001;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h2 {
            padding-top: 18pt;
            color: #000000;
            font-size: 16pt;
            padding-bottom: 6pt;
            font-family: "Arial";
            line-height: 1.1500000000000001;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h3 {
            padding-top: 16pt;
            color: #434343;
            font-size: 14pt;
            padding-bottom: 4pt;
            font-family: "Arial";
            line-height: 1.1500000000000001;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h4 {
            padding-top: 14pt;
            color: #666666;
            font-size: 12pt;
            padding-bottom: 4pt;
            font-family: "Arial";
            line-height: 1.1500000000000001;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h5 {
            padding-top: 12pt;
            color: #666666;
            font-size: 11pt;
            padding-bottom: 4pt;
            font-family: "Arial";
            line-height: 1.1500000000000001;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h6 {
            padding-top: 12pt;
            color: #666666;
            font-size: 11pt;
            padding-bottom: 4pt;
            font-family: "Arial";
            line-height: 1.1500000000000001;
            page-break-after: avoid;
            font-style: italic;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .mb-20px {
            margin-bottom: 20px;
        }

        .mb-10px{
            margin-bottom: 10px;
        }
        
        .float-right {
            float: right;
        }

        .indented {
            margin-left: 20px;
        }

        .skills-container {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
        }

        .skills-container .column {
            flex: 1;
            margin-right: 10px;
        }

        .skills-container .column:last-child {
            margin-right: 0;
        }

        .custom-pre {
            white-space: pre-wrap;
            /* Preserve whitespace and line breaks */
            font-family: inherit;
            /* Inherit the font from the parent element */
            word-wrap: break-word;
            /* Ensure long words break to fit the container */
        }

        @media print {
            .page-break-before-auto {
                page-break-before: auto;
            }

            .page-break-inside-avoid {
                page-break-inside: avoid;
            }

            @page {
                margin: 72pt;
            }
        }
    </style>
</head>

<body class="c6 c11 doc-content">
    <p class="c10">
        <span class="c7 c14"><%= resumeHeader.fullName %></span>
    </p>
    <p class="c10 mb-20px">
        <span class="c1">
            <%= resumeHeader.location %> &diams; <%= resumeHeader.phone %> &diams; <%= resumeHeader.email %> &diams; 
        <% if (resumeHeader.url) { %>
            <%= resumeHeader.url %>
        <% } %>
        </span>
    </p>

    <p class="c3">
        <span class="c7">OBJECTIVE</span><span class="c1">&nbsp; </span>
    </p>
    <p class="c3 mb-20px">
        <span class="c6">
    <% if (resumeHeader.summary) { %>
        <pre class="custom-pre"><%= resumeHeader.summary %></pre>
    <% } %>
        </span>
    </p>

    <% if (education && education.length > 0) { %>
            <p class="c4">
                <span class="c7">EDUCATION</span>
                <span class="c1">&nbsp;</span>
            </p>
            <div class="education-container mb-20px">
            <% education.forEach(function(edu) { %>
                <div class="education mb-10px">
                    <p class="c13">
                        <span class="c7"><%= edu.name %>,</span>
                        <span>&nbsp;<%= edu.location %></span>
                        <span class="float-right">
                            <span><%= edu.startYear %></span>
                            <span class="c7">- </span>
                            <span class="c1"><%= edu.endYear %></span>
                        </span>
                    </p>
                    <p class="c13">
                        <span><%= edu.degreeName %> <%= edu.awards ? ' / ' + edu.awards : '' %></span><span class="c0">&nbsp;</span>
                    </p>
                    <% if (edu.coursework) { %>
                        <p class="c13">
                            <span>Coursework: <pre class="custom-pre"><%= edu.coursework %></pre></span>
                        </p>
                    <% } %>
                </div>
            <% }); %>
            </div>
    <% } %>

    <% if (experiences && experiences.length > 0) { %>
        <p class="c4">
            <span class="c7">WORK EXPERIENCE</span>
        </p>
        <div class="professional-experience-container mb-20px">
            <% experiences.forEach(function(exp) { %>
                <div class="professional-experience mb-10px page-break-inside-avoid">
                    <p class="c13">
                        <span class="c17"><%= exp.employer %></span>
                        <span class="c7 c17">, </span>
                        <span class="c17"><%= exp.state %></span>
                        <span class="c7 c17 float-right">
                            <span class="c1"><%= exp.startYear %> &ndash; <%= exp.endYear %></span>
                        </span>
                    </p>
                    <p class="c13">
                        <span class="c2"><%= exp.jobTitle %></span>
                    </p>
                    <p class="c3 c15">
                        <span class="c1"><pre class="custom-pre"><%= exp.summary %></pre></span>
                    </p>
                </div>
            <% }); %>
        </div>
    <% } %>

    <% if (certificates && certificates.length > 0) { %>
        <p class="c4">
            <span class="c7">CERTIFICATIONS</span>
        </p>
        <div class="certifications-container mb-20px">
            <% certificates.forEach(function(cert) { %>
                <div class="certification mb-10px page-break-inside-avoid">
                    <p class="c13">
                        <span class="c17"><%= cert.title %></span>
                        <span class="c7 c17">, </span>
                        <span class="c17"><%= cert.issuer %></span>
                        <span class="c7 c17 float-right">
                            <span class="c1"><%= cert.issueDate %> &ndash; <%= cert.expires %></span>
                        </span>
                    </p>
                    <p class="c3 c15">
                        <span class="c1"><pre class="custom-pre"><%= cert.summary %></pre></span>
                    </p>
                </div>
            <% }); %>
        </div>
    <% } %>

    <% if (projects && projects.length > 0) { %>
        <p class="c4">
            <span class="c7">PROJECTS</span>
        </p>
        <div class="projects-container mb-20px">
            <% projects.forEach(function(project) { %>
                <div class="project mb-10px page-break-inside-avoid">
                    <p class="c13">
                        <span class="c17"><%= project.title %></span>
                        <span class="c7 c17">, </span>
                        <span class="c17"><%= project.location %></span>
                        <span class="c7 c17 float-right">
                            <span class="c1"><%= project.startDate %> &ndash; <%= project.endDate %></span>
                        </span>
                    </p>
                    <p class="c3 c15">
                        <span class="c1"><pre class="custom-pre"><%= project.summary %></pre></span>
                    </p>
                </div>
            <% }); %>
        </div>
    <% } %>    
    
    <% if (skills && skills.length > 0) { %>
        <p class="c3">
            <span class="c0">SKILLS</span>
        </p>
        <div class="skills-container mb-20px">
            <% 
            const columnCount = 4;
            const skillsPerColumn = Math.ceil(skills.length / columnCount);
            for (let i = 0; i < columnCount; i++) { 
            %>
                <div class="column">
                    <% skills.slice(i * skillsPerColumn, (i + 1) * skillsPerColumn).forEach(function(skill) { %>
                        <p class="c1"><%= skill.name %></p>
                    <% }); %>
                </div>
            <% } %>
        </div>
    <% } %>
</body>
</html>