<html>

<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <style type="text/css">
        @import url(https://themes.googleusercontent.com/fonts/css?kit=wAPX1HepqA24RkYW1AuHYA);
        .c8 {
            color: #000000;
            font-weight: 700;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 11pt;
            font-family: "Times New Roman";
            font-style: normal
        }

        .c0 {
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 11pt;
            font-family: "Times New Roman";
            font-style: normal
        }

        .c3 {
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 10pt;
            font-family: "Times New Roman";
            font-style: normal
        }

        .c1 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.1500000000000001;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .c7 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.1500000000000001;
            orphans: 2;
            widows: 2;
            text-align: justify
        }

        .c19 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.1500000000000001;
            orphans: 2;
            widows: 2;
            text-align: center
        }

        .c22 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .c25 {
            color: #000000;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 13pt;
            font-style: normal
        }

        .c21 {
            color: #000000;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 18pt;
            font-style: normal
        }

        .c18 {
            color: #000000;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 11pt
        }

        .c24 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.1500000000000001;
            text-align: left
        }

        .c20 {
            background-color: #ffffff;
            max-width: 468pt;
        }

        .c6 {
            font-family: "Times New Roman";
            font-style: italic;
            font-weight: 400
        }

        .c2 {
            font-size: 7pt;
            font-family: "Times New Roman";
            font-weight: 400
        }

        .c14 {
            font-weight: 700;
            font-family: "Times New Roman"
        }

        .c9 {
            font-size: 10pt;
            font-weight: 700
        }

        .c17 {
            font-weight: 400;
            font-family: "Calibri"
        }

        .c5 {
            margin-left: 36pt;
            padding-left: 0pt
        }

        .c4 {
            padding: 0;
            margin: 0
        }

        .c10 {
            font-weight: 400;
            font-family: "Times New Roman"
        }

        .c23 {
            font-style: italic
        }

        .c13 {
            font-size: 10pt
        }

        .c11 {
            height: 11pt
        }

        .c15 {
            margin-left: 18pt
        }

        .title {
            padding-top: 0pt;
            color: #000000;
            font-size: 26pt;
            padding-bottom: 3pt;
            font-family: "Arial";
            line-height: 1.1500000000000001;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .subtitle {
            padding-top: 0pt;
            color: #666666;
            font-size: 15pt;
            padding-bottom: 16pt;
            font-family: "Arial";
            line-height: 1.1500000000000001;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        li {
            color: #000000;
            font-size: 11pt;
            font-family: "Arial"
        }

        p {
            margin: 0;
            color: #000000;
            font-size: 11pt;
            font-family: "Arial"
        }

        h1 {
            padding-top: 20pt;
            color: #000000;
            font-size: 20pt;
            padding-bottom: 6pt;
            font-family: "Arial";
            line-height: 1.1500000000000001;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h2 {
            padding-top: 18pt;
            color: #000000;
            font-size: 16pt;
            padding-bottom: 6pt;
            font-family: "Arial";
            line-height: 1.1500000000000001;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h3 {
            padding-top: 16pt;
            color: #434343;
            font-size: 14pt;
            padding-bottom: 4pt;
            font-family: "Arial";
            line-height: 1.1500000000000001;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h4 {
            padding-top: 14pt;
            color: #666666;
            font-size: 12pt;
            padding-bottom: 4pt;
            font-family: "Arial";
            line-height: 1.1500000000000001;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h5 {
            padding-top: 12pt;
            color: #666666;
            font-size: 11pt;
            padding-bottom: 4pt;
            font-family: "Arial";
            line-height: 1.1500000000000001;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h6 {
            padding-top: 12pt;
            color: #666666;
            font-size: 11pt;
            padding-bottom: 4pt;
            font-family: "Arial";
            line-height: 1.1500000000000001;
            page-break-after: avoid;
            font-style: italic;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .mb-20px {
            margin-bottom: 20px;
        }

        .mb-10px{
            margin-bottom: 10px;
        }
        
        .float-right {
            float: right;
        }

        @media print {
            .page-break-before-auto {
                page-break-before: auto;
            }

            .page-break-inside-avoid {
                page-break-inside: avoid;
            }

            @page {
                margin: 72pt;
            }
        }

    </style>
</head>

<body class="c20 doc-content">
    <div class="header mb-20px">
        <p class="c19">
            <span class="c14 c21">
                <%= resumeHeader.fullName %>
            </span>
        </p>
        <p class="c19">
            <span class="c10">
              <%= resumeHeader.location %>
              <% if (resumeHeader.phone && resumeHeader.phone.trim()) { %> 
                | <%= resumeHeader.phone %> 
              <% } %>
              <% if (resumeHeader.email && resumeHeader.email.trim()) { %> 
                | <%= resumeHeader.email %>
              <% } %>
              <% if (resumeHeader.url && resumeHeader.url.trim()) { %> 
                | <%= resumeHeader.url %>
              <% } %>
            </span>
        </p>
    </div>

    <% if (resumeHeader.summary && resumeHeader.summary.trim()) { %>
        <p class="c22"><span class="c14">Professional Summary</span></p>
        <hr>
        <p class="c22 c11"><span class="c0"></span></p>
        <p class="c1"><span class="c0"><%= resumeHeader.summary %></span></p>
        <p class="c1 c11"><span class="c0"></span></p>
    <% } %>

    <% if (education && education.length > 0) { %>
        <p class="c22">
            <span class="c8">EDUCATION</span>
        </p>
        <hr>
        <div class="education-container mb-20px">
            <% if (education && education.length > 0) { %>
                <% education.forEach(function(education) { %>
                    <div class="education">
                        <p class="c11 c22">
                            <span class="c8"></span>
                        </p>
                        <p class="c1">
                            <span class="c14">
                                <%= education.name %>,
                            </span>
                            <span class="c10">
                                <%= education.location %>
                            </span>
                            <span class="float-right">
                                <span class="c10">
                                    <%= education.startYear %>
                                </span>
                                <span class="c14">- </span>
                                <span class="c0">
                                    <%= education.endYear %>
                                </span>
                            </span>
                        </p>
                        <p class="c1">
                            <span class="c6">
                                <%= education.degreeName %>
                            </span>
                            <span class="c8">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span>
                        </p>
                        <% if (education.gpa && education.gpa.trim()) { %>
                            <p class="c1">
                                <span class="c6">GPA:</span>
                                <span class="c14"><%= education.gpa %></span>
                            </p>
                            <% } %>
                            
                            <% if (education.awards && education.awards.trim()) { %>
                            <p class="c1">
                                <span class="c6">Awards:</span>
                                <span class="c0"><%= education.awards %></span>
                            </p>
                        <% } %>
                        <% if (education.coursework) { %>
                            <p class="c1">
                                <span class="c18 c6">Coursework: <%= education.coursework %></span>
                            </p>
                        <% } %>
                    </div>
                <% }); %>
            <% } %>
        </div>
    <% } %>

    <% if (experiences && experiences.length > 0) { %>
        <p class="c24">
            <span class="c14">PROFESSIONAL EXPERIENCE</span>
            <hr>
        </p>

        <div class="professional-experience-container mb-20px">
            <% experiences.forEach(function(experience) { %>
                <div class="professional-experience page-break-inside-avoid mb-20px">
                    <p class="c1">
                        <div class="c14 mb-10px"><%= experience.employer%></div>
                        <span class="c6"><%= experience.jobTitle%></span>
                        <span class="c0">, <%= experience.state%></span>
                        <span class="c0 float-right"><%= experience.startYear%> - <%= experience.endYear%></span>
                    </p>
                    <ul class="c4 lst-kix_list_13-0 start">
                        <span class="c0"><%= experience.summary %></span>
                    </ul>
                </div>
            <% }); %>
        </div>
    <% } %>

    <% if (skills && skills.length > 0) { %>
        <p class="c1 page-break-before-auto"><span class="c8">SKILLS</span></p>
        <hr>

        <p class="c22 page-break-before-auto">
            <span class="c8">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span>
        </p>
    
        <div class="skills-container mb-20px page-break-before-auto">
            <% skills.forEach(function(skill) { %>
                <span class="c1 c6"><%= skill.name %>, </span>
            <% }); %>
        </div>
    <% } %>

    <% if (projects && projects.length > 0) { %>
        <p class="c24 page-break-before-auto">
            <span class="c14">PROJECTS</span>
            <hr>
        </p>
    
        <div class="projects-container mb-20px">
            <% projects.forEach(function(project) { %>
                <div class="project page-break-inside-avoid mb-20px">
                    <p class="c1">
                        <div class="c14 mb-10px"><%= project.title %></div>
                        <span class="c0"><%= project.location %></span>
                        <span class="c0 float-right"><%= project.startDate %> - <%= project.endDate %></span>
                    </p>
                    <ul class="c4 lst-kix_list_13-0 start">
                        <span class="c0"><%= project.summary %></span>
                    </ul>
                </div>
            <% }); %>
        </div>
    <% } %>

    <% if (certificates && certificates.length > 0) { %>
        <p class="c24 page-break-before-auto">
            <span class="c14">CERTIFICATES</span>
            <hr>
        </p>
    
        <div class="certificates-container mb-20px">
            <% certificates.forEach(function(certificate) { %>
                <div class="certificate page-break-inside-avoid mb-20px">
                    <p class="c1">
                        <div>
                            <span class="c14"><%= certificate.title %>,&nbsp;</span>
                            <span class="c6"><%= certificate.issuer %></span>
                        </div>
                        <span class="c0 float-right">Issued: <%= certificate.issueDate %> - Expires: <%= certificate.expires %></span>
                    </p>
                    <ul class="c4 lst-kix_list_13-0 start">
                        <span class="c0"><%= certificate.summary %></span>
                    </ul>
                </div>
            <% }); %>
        </div>
    <% } %>
</body>
</html>