<html>

<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <style type="text/css">
        .c14 {
            border-right-style: solid;
            padding-top: 0pt;
            border-top-width: 0pt;
            border-bottom-color: #000000;
            border-right-width: 0pt;
            padding-left: 0pt;
            border-left-color: #000000;
            padding-bottom: 0pt;
            line-height: 1.0699977272727272;
            border-right-color: #000000;
            border-left-width: 0pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 0pt;
            border-top-color: #000000;
            border-bottom-style: solid;
            orphans: 2;
            widows: 2;
            text-align: center;
            padding-right: 0pt
        }

        .c10 {
            border-right-style: solid;
            border-top-width: 0pt;
            border-bottom-color: #000000;
            border-right-width: 0pt;
            padding-left: 0pt;
            border-left-color: #000000;
            border-right-color: #000000;
            border-left-width: 0pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 0pt;
            border-top-color: #000000;
            border-bottom-style: solid;
            padding-right: 0pt;
            height: 11pt
        }

        .c15 {
            border-right-style: solid;
            border-top-width: 0pt;
            border-bottom-color: #000000;
            border-right-width: 0pt;
            padding-left: 0pt;
            border-left-color: #000000;
            border-right-color: #000000;
            border-left-width: 0pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 0pt;
            border-top-color: #000000;
            border-bottom-style: solid;
            padding-right: 0pt
        }

        .c8 {
            -webkit-text-decoration-skip: none;
            color: #000000;
            text-decoration: underline;
            vertical-align: baseline;
            text-decoration-skip-ink: none;
            font-size: 11pt;
            font-family: "Arial";
            font-style: normal
        }

        .c1 {
            margin-left: 36pt;
            padding-top: 0pt;
            padding-left: 0pt;
            padding-bottom: 0pt;
            line-height: 1.0699977272727272;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .c7 {
            margin-left: 36pt;
            padding-top: 0pt;
            padding-left: 0pt;
            padding-bottom: 0pt;
            line-height: 1.1500000000000001;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .c18 {
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 12pt;
            font-family: "Arial";
            font-style: normal
        }

        .c3 {
            color: #000000;
            font-weight: 700;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 11pt;
            font-family: "Arial";
            font-style: normal
        }

        .c5 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.1500000000000001;
            orphans: 2;
            widows: 2;
            text-align: left;
            height: 11pt
        }

        .c17 {
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 10pt;
            font-family: "Times New Roman";
            font-style: normal
        }

        .c0 {
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 11pt;
            font-family: "Arial";
            font-style: normal
        }

        .c9 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.1500000000000001;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .c16 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.0699977272727272;
            orphans: 2;
            widows: 2;
            text-align: center
        }

        .c2 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.0699977272727272;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .c19 {
            color: #000000;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 16pt;
            font-family: "Arial";
            font-style: normal
        }

        .c6 {
            background-color: #ffffff;
            max-width: 468pt;
        }

        .c13 {
            padding: 0;
            margin: 0
        }

        .c4 {
            font-weight: 700
        }

        .c11 {
            margin-left: 36pt
        }

        .c12 {
            height: 11pt
        }

        .title {
            padding-top: 0pt;
            color: #000000;
            font-size: 26pt;
            padding-bottom: 3pt;
            font-family: "Arial";
            line-height: 1.1500000000000001;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .subtitle {
            padding-top: 0pt;
            color: #666666;
            font-size: 15pt;
            padding-bottom: 16pt;
            font-family: "Arial";
            line-height: 1.1500000000000001;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        li {
            color: #000000;
            font-size: 11pt;
            font-family: "Arial"
        }

        p {
            margin: 0;
            color: #000000;
            font-size: 11pt;
            font-family: "Arial"
        }

        h1 {
            padding-top: 20pt;
            color: #000000;
            font-size: 20pt;
            padding-bottom: 6pt;
            font-family: "Arial";
            line-height: 1.1500000000000001;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h2 {
            padding-top: 18pt;
            color: #000000;
            font-size: 16pt;
            padding-bottom: 6pt;
            font-family: "Arial";
            line-height: 1.1500000000000001;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h3 {
            padding-top: 16pt;
            color: #434343;
            font-size: 14pt;
            padding-bottom: 4pt;
            font-family: "Arial";
            line-height: 1.1500000000000001;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h4 {
            padding-top: 14pt;
            color: #666666;
            font-size: 12pt;
            padding-bottom: 4pt;
            font-family: "Arial";
            line-height: 1.1500000000000001;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h5 {
            padding-top: 12pt;
            color: #666666;
            font-size: 11pt;
            padding-bottom: 4pt;
            font-family: "Arial";
            line-height: 1.1500000000000001;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h6 {
            padding-top: 12pt;
            color: #666666;
            font-size: 11pt;
            padding-bottom: 4pt;
            font-family: "Arial";
            line-height: 1.1500000000000001;
            page-break-after: avoid;
            font-style: italic;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .mb-20px {
            margin-bottom: 20px;
        }

        .mb-10px{
            margin-bottom: 10px;
        }
        
        .float-right {
            float: right;
        }

        .indented {
            margin-left: 20px;
        }

        .custom-pre {
            white-space: pre-wrap;
            /* Preserve whitespace and line breaks */
            font-family: inherit;
            /* Inherit the font from the parent element */
            word-wrap: break-word;
            /* Ensure long words break to fit the container */
        }

        @media print {
            .page-break-before-auto {
                page-break-before: auto;
            }

            .page-break-inside-avoid {
                page-break-inside: avoid;
            }

            @page {
                margin: 72pt;
            }
        }
    </style>
</head>

<body class="c6 doc-content">
    <div>
        <p class="c5"><span class="c0"></span></p>
    </div>
    <p class="c16"><span class="c4 c19"><%= resumeHeader.fullName %></span></p>
    <p class="c9">
        <span class="c0">
            <%= resumeHeader.location %> |
            <%= resumeHeader.phone %> |
            <%= resumeHeader.email %> |
            <% if (resumeHeader.url) { %>
                <%= resumeHeader.url %>
            <% } %>
        </span>
    </p>
    <hr>

    <% if (resumeHeader.summary) { %>
        <p class="c2 mb-20px"><span class="c0"><pre class="custom-pre"><%= resumeHeader.summary %></pre></span></p>
    <% } %>
    
    <% if (education && education.length > 0) { %>
        <p class="c15 c2"><span class="c3">EDUCATION</span></p>
        <hr>
        <div class="education-container mb-20px">
        <% education.forEach(function(edu) { %>
            <div class="education mb-10px">
                <p class="c2">
                    <span class="c4"><%= edu.name %>, </span>
                    <span><%= edu.location %></span>
                    <span class="float-right">
                        <span class="c0">
                            <%= edu.startYear %>
                        </span>
                        <span>-</span>
                        <span class="c0">
                            <%= edu.endYear %>
                        </span>
                    </span>
                </p>
                <p class="c2">
                    <span class="c0"><%= edu.degreeName %></span>
                </p>
                <p class="c2">
                    <span class="c0"><pre class="custom-pre"><%= edu.summary %></pre></span>
                </p>
            </div>
        <% }); %>
        </div>
    <% } %>

    <% if (experiences && experiences.length > 0) { %>
        <p class="c2 c15">
            <span class="c3">EXPERIENCE</span>
        </p>
        <hr>
        <div class="professional-experience-container mb-20px">
            <% experiences.forEach(function(exp) { %>
                <div class="professional-experience page-break-inside-avoid mb-10px">
                    <p class="c2">
                        <span class="c4"><%= exp.employer %>,</span><span class="c0">&nbsp;<%= exp.state %></span>
                        <span class="c0 float-right"><%= exp.startYear %> &ndash; <%= exp.endYear %></span>
                    </p>
                    <p class="c2"><span class="c0"><%= exp.jobTitle %></span></p>
                    <p class="c2 indented">
                        <span class="c0"><pre class="custom-pre"><%= exp.summary %></pre></span>
                    </p>
                </div>
            <% }); %>
        </div>
    <% } %>

    <% if (projects && projects.length > 0) { %>
        <div class="projects-container mb-20px">
            <% if (projects && projects.length > 0) { %>
                <p class="c9"><span class="c4">PROJECTS</span>
                    <hr>
                </p>
                <div class="projects-container mb-20px">
                <% projects.forEach(function(project) { %>
                    <div class="project mb-10px">
                        <p class="c2">
                            <span class="c4"><%= project.title %>,</span>
                            <span class="c0">&nbsp;<%= project.location %></span>
                            <span class="c0 float-right"><%= project.startDate %> &ndash; <%= project.endDate %></span>
                        </p>
                        <p class="c2 indented">
                            <span class="c0"><pre class="custom-pre"><%= project.summary %></pre></span>
                        </p>
                    </div>
                <% }); %>
                </div>
            <% } %>
        </div>
    <% } %>

    <% if (skills && skills.length > 0) { %>
        <p class="c2"><span class="c4">SKILLS</span></p>
        <hr>
        <p class="c2 mb-20px">
            <span class="c0">
                <% skills.forEach(function(skill, index) { %>
                    <%= skill.name %><%= index < skills.length - 1 ? ' | ' : '' %>
                <% }); %>
            </span>
        </p>
    <% } %>

    <% if (certificates && certificates.length > 0) { %>
        <div class="certifications-container mb-20px">
            <p class="c9"><span class="c4">CERTIFICATIONS</span>
                <hr>
            </p>
            <% certificates.forEach(function(cert) { %>
                <div class="certification mb-10px">
                    <p class="c2">
                        <span class="c4"><%= cert.title %></span>
                        <span class="c0 float-right">Issued: <%= cert.issueDate %> Expires: <%= cert.expires %></span>
                    </p>
                    <p class="c2">
                        <span class="c0"><pre class="custom-pre"><%= cert.summary %></pre></span>
                    </p>
                    <p class="c2">
                        <span class="c0">Issued by: <%= cert.issuer %></span>
                    </p>
                </div>
            <% }); %>
        </div>
    <% } %>    
</body>
</html>